.commercial-section-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
}

.commercial-left {
    background: var(--color-header-right-bg);
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: 100vh;
}

.commercial-left-second {
    background: var(--color-header-left-bg);
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    height: 100vh;
}

.commercial-left h2 {
    font-size: 34px;
    font-family: var(--font-text);
    color: var(--color-header-left-bg);
}

.commercial-left-second h2 {
    font-size: 34px;
    font-family: var(--font-text);
    color: var(--color-header-right-bg);
}

.commercial-right {
    background: white;
    width: 50%;
    height: 100vh;
}

.commercial-right img {
    width: 100%;
    height: 100vh;
    object-fit:fill;
}

/* .commercial-right img:hover {
    content: url("../../assests/gallery/test1.jpg");
} */

.text-element p {
    font-family: var(--font-text);
    font-size: 18px;
    color: var(--color-header-left-bg);
    margin-top: 20px;
}

.commercial-left-second p {
    font-family: var(--font-text);
    font-size: 18px;
    color: var(--color-header-right-bg);
    margin-top: 20px;
}