.work-container {
    width: 100%;
    height: 110vh;
    background-color: var(--color-white);
    /* border: 1px solid red; */
  

}

.work-caption {
    text-align: start;
    font-size: 45px;
    font-family: var(--font-text);
    color: var(--color-header-right-bg);
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: 500;
    transform: translate(350px);
    width: 50%;
}

.work-content-container {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.work-content {
    /* border: 1px solid red; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    width: 100%;
    gap: 280px;
    font-family: var(--font-text);
    padding: 25px;
}

.work-content.first {
    border-top: 2px solid black
}

.work-content.last {
    border-bottom: 2px solid black;
}

.order-number p {
    color: red;
    font-size: 18px;
}



.work-discription p {
    display: flex;
    font-size: 24px;
}

.work-discription p .red {
    color: red;
    margin-right: 5px;
}